{% extends "base.html" %}

{% block content %}
<div>
    <p>My Website:</p>
    <a href="/createcard/{{ uid }}">Create flashcard</a>
    <a href="/flashcardtopdf/{{ uid }}">Create PDF of flashcards</a>
    <a href="/taskviewer/{{ uid }}">Task</a>
    <a href="/logout">Logout</a>
    <a href="/deleteaccount/{{ uid }}">Delete account</a>
</div>
<table class="center">
    <tr>
        <th>Card</th>
        <th>Actions</th>
    </tr>
    {% for post in cardlist %}
    <tr>
        <td>
            {{ post.Label }}
        </td>
        <td>
            <a href="/description/{{ uid }}/{{ post.id }}">Description</a>
        </td> 
    </tr>  
    {% endfor %}

</table> 
    
{% endblock %}
