<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>No Name</title>
        {% endif %}
    </head>
    <body>
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}

            <p> {{ form.username.label }} <br>
            {{ form.username(size=32) }}</p>

            <p> {{ form.password.label }} <br>
            {{ form.password(size=32) }}</p>

            <p>{{ form.submit() }}</p>
        </form><p>
            <a href='/signup'> Don't have an account?  </a> 
</form>
    </body>
</html>

